<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>member</h1>

    <!-- 인증시 사용된 객체에 대한 정보 -->
    <b>Authenticated DTO:</b>
    <div sec:authentication="principal"></div>

    <!-- 인증시 사용된 객체의 Username(ID) -->
    <b>Authenticated username:</b>
    <div sec:authentication="name"></div>

    <!-- 객체의 권한 -->
    <b>Authenticated user role:</b>
    <div sec:authentication="principal.authorities"></div>
</body>
</html>